


ul li {
    list-style: none;
}

.main-li-ul li {
    margin: 12px 7px;
}

/*تغییر سایز فونت آسم ها در ادمین پنل و در مبو باکس ویرایش و حذف */
.sidebar-wrapper i.fa, .dropdown-menu i.fa {
    font-size: 12px !important;
}

/******************************************/
/******************************************/
/******************************************/
/****************************** //// scrollbar for Modal ///*********************/

/*.modal-dialog {
    overflow-y:auto !important;
}*/

.modal-body {
    height: 350px;
    overflow-y: auto;
    /*direction: ltr;*/
}

/*.modal-body {
    max-height: calc(100vh - 200px);
    overflow-y: auto;
}*/
/******************************************/
/******************************************/
/******************************************/
