
@model IEnumerable<CountryListDto>
@*@model  CountryListDto*@
@{
    ViewData["Title"] = "گروه مهاجرتی  پیشتازان";
}

<div>

    @foreach (var item in Model)
    {
        @item.Id @item.Name @item.Description

    }
</div>
<!--todo:داده ها و ویوی تستی-->




