
@*@model IEnumerable< CountryDto>*@
@*@model  CountryListDto*@
@{
    ViewData["Title"] = "Home Page";
}

<div>
    <form asp-action="Create">
        <input id="Description" name="Description" value="ندارد" />
        <input id="Name" name="Name" value="ira" />
        <input id="population" name="population" value="as" />
        <input type="submit" />
    </form>
    @*@foreach (var item in Model)
        {
            @item.Id  @item.Name @item.Description

        }*@
   @*@Model.Name*@
</div>
<!--todo:داده ها و ویوی تستی-->